// General rules
@import "../init";
@import "../_components/loader";

.#{$m-namespace-admin} {

	@keyframes blinker {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	@media (min-width: 961px) {
		.messia-core-dialog-warning {
			#messia_modal_warning {
				max-width: calc(100vw - 140px);
				max-height: calc(100vh - 140px);
				overflow: auto;
			}
		}
	}

	@media (min-width: 783px) and (max-width: 960px) {
		.messia-core-dialog-warning {
			#messia_modal_warning {
				max-width: calc(100vw - 60px);
				max-height: calc(100vh - 60px);
				overflow: auto;
			}
		}
	}

	@media (max-width: 782px) {
		.messia-core-dialog-warning {
			max-width: calc(100vw - 40px);
			max-height: calc(100vh - 40px);
			overflow: auto;
		}
	}

	@media (max-width: 850px) {
		.ui-dialog-content {
			.modal-content.modal-content-object {
				.modal-content-body {
					.modal-content-flex {
						flex-direction: column;
					}

					.modal-content-content {
						width: 100%;
						box-sizing: border-box;
					}

					.modal-content-sidebar {
						width: 100%;
						margin-top: 15px;
						min-height: 80px;
					}

					.modal-content-left {
						width: 100%;
					}
				}

				.modal-content-header {
					.modal-content-menu {
						width: 25px;
						height: 16px;
						font-size: 0;
						border: none;
						border-top: 2px solid #dedede;
						border-bottom: 2px solid #dedede;
						position: relative;
						margin-right: 10px;
						min-height: 1px;

						&:after {
							content: "";
							position: absolute;
							width: 25px;
							left: 0;
							top: 5px;
							height: 2px;
							background: #dedede;
						}

						&:before {
							content: "";
							position: absolute;
							top: -10px;
							right: -10px;
							left: -10px;
							bottom: -10px;
							border: 1px solid #dedede;
						}
					}
				}
			}
		}
	}

	input[type="search"] {
		box-sizing: border-box;
	}

	&.cursor-grabbing {
		* {
			cursor: grabbing !important; // stylelint-disable-line declaration-no-important
		}
	}

	table.media {
		.column-title {
			.media-icon {
				img[src$="svg"] {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.media-modal-content {
		input[type="search"] {
			box-sizing: border-box;
		}
	}

	.attachment-info {
		.thumbnail {
			img[src$="svg"] {
				min-width: 60px;
				min-height: 60px;
			}

			&:after {
				box-shadow: none;
			}
		}
	}

	.ui-widget-content.ui-autocomplete {
		border: 2px solid #0073aa;
		border-radius: 4px;
		box-shadow: none;

		.ui-state-focus {
			border: none;
		}
	}

	.messia-core-dialog-warning {
		box-shadow: 0 0 10px rgb(0 0 0 / 22%);
		z-index: 99999 !important; // stylelint-disable-line declaration-no-important

		ul {
			list-style-position: inside !important; // stylelint-disable-line declaration-no-important
			list-style: square;
		}

		~ {
			.ui-widget-overlay {
				opacity: .5;
				transition: opacity .2s;
				background: #000;
			}
		}

		p {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
			line-height: 1.7em;
		}

		.ui-widget-content {
			a {
				box-shadow: none;
			}
		}

		#messia_modal_warning {
			img {
				max-width: 100%;
				height: auto;
			}
		}

		.wparam {
			border: 1px solid #7dbbde;
			padding: 1px 2px;
			background: #e0f3fd;
		}
	}

	.no-close {
		.ui-dialog-titlebar-close {
			display: none;
		}
	}

	.ui-dialog {
		.ui-dialog-titlebar-close {
			background: none !important; // stylelint-disable-line declaration-no-important
			border: none !important; // stylelint-disable-line declaration-no-important
			outline: none;

			span {
				outline: none;
			}
		}

		.ui-dialog-buttonpane {
			margin-top: 0;
		}
	}

	.ui-state-default.ui-dialog-titlebar-close {
		&:before {
			content: "";
		}
	}

	textarea.messia {
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background: #0073aa;
		}

		&::-webkit-scrollbar-track {
			background: #fff;
			border-left: 1px solid #c7c7c7;
		}
	}

	.select2-results__options {
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background: #0073aa;
		}

		&::-webkit-scrollbar-track {
			background: #fff;
			border-left: 1px solid #c7c7c7;
		}
	}

	.select2-container {
		.select2-selection--single {
			&:focus {
				border: 1px solid #0c73a6;
				outline: none;
			}
		}

		.select2-selection--multiple {
			display: grid;

			&:focus {
				border: 1px solid #0c73a6;
				outline: none;
			}

			.select2-selection__choice {
				line-height: 1.7em;
				border-radius: 2px;
			}

			.select2-selection__rendered {
				.select2-selection__choice {
					max-width: 100%;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}

		.select2-search {
			margin: 0;
		}

		.select2-search--inline {
			.select2-search__field {
				margin: 2px 0 3px;
			}
		}
	}

	.select2-container--open {
		.select2-dropdown {
			box-shadow: 0 3px 4px 0 rgb(0 0 0 / 10%);
			background: #fbfbfb;
			color: #797979;
		}
	}

	.select2-container--default {
		.select2-results__group {
			color: #fff;
			background: #ff8600;
			margin: 2px;
			border-radius: 3px;
		}

		.select2-selection--single {
			height: initial;
		}
	}

	.select2-container.select2-container--focus {
		.select2-selection--multiple {
			border: 1px solid #008acf;
		}
	}

	.modal-content {
		display: none;
	}

	.ui-dialog-content {
		.modal-content {
			display: block;
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;

			.image {
				min-height: 150px;
				text-transform: uppercase;
				color: #ccc;
				display: flex;
				align-items: center;
				justify-content: center;
				border-bottom: 1px solid #dedede;
				padding: 15px;
				font-size: 18px;
			}

			.title {
				padding-left: 10px;
				border-left: 5px solid #ef5b5b;
				font-weight: 700;
				margin-bottom: 15px;
				font-size: 17px;
			}

			.modal-content-item.modal-content-items {
				flex-direction: column;
				padding: 0;
			}

			.modal-content-item {
				padding-left: 15px;
				padding-right: 15px;
				min-height: 92px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				font-size: 16px;
				border: 1px solid #ccc;
				margin-bottom: 15px;
				position: relative;
				flex-wrap: wrap;

				&:last-child {
					margin-bottom: 0;
				}

				&:after {
					content: "";
					position: absolute;
					top: -1px;
					bottom: -1px;
					right: -1px;
					left: -1px;
					border: 1px solid red;
					animation-name: blinker;
					animation-iteration-count: infinite;
					animation-duration: 1s;
				}
			}

			.modal-content-item-inner {
				width: 100%;
				position: relative;
				flex-grow: 1;
				display: flex;
				padding-left: 15px;
				padding-right: 15px;
				align-items: center;
				box-sizing: border-box;
				text-align: center;
				justify-content: center;

				&:first-child {
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 1px;
						bottom: 0;
						left: 0;
						background: red;
						animation-name: blinker;
						animation-iteration-count: infinite;
						animation-duration: 1s;
						z-index: 9;
					}

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 1px;
						bottom: 0;
						left: 0;
						background: #ccc;
					}
				}
			}

			.modal-content-item.modal-content-item-rating {
				min-height: 40px;

				&:after {
					content: none;
				}
			}

			.modal-content-body {
				padding: 15px;
			}

			.norating {
				color: #ccc;
			}
		}

		.modal-content-listing {
			border: 1px solid #ccc;
		}

		.modal-content-object {
			border: 1px solid #ccc;
		}

		.modal-content.modal-content-object {
			max-width: 100%;

			.modal-content-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #dedede;
				color: #ccc;
				font-size: 18px;
				padding: 15px;
				margin-bottom: 15px;

				.modal-content-logo {
					width: 120px;
					box-sizing: border-box;
					min-height: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid #dedede;
					margin-right: 10px;
				}

				.modal-content-menu {
					max-width: 350px;
					width: 100%;
					box-sizing: border-box;
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 35px;
					font-size: 15px;
					border: 1px solid #dedede;
				}
			}

			.modal-content-body {
				padding: 0;

				.modal-content-zones {
					padding: 15px;
				}

				.modal-content-flex {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;
				}

				.modal-content-sidebar {
					min-height: 200px;
					width: 25%;
					margin-bottom: 0;
					margin-top: 0;
					box-sizing: border-box;
					text-align: center;
				}

				.modal-content-left {
					min-height: 200px;
					width: calc(75% - 15px);
					margin-bottom: 0;
					margin-top: 0;
					text-align: center;
					box-sizing: border-box;
				}

				.modal-content-hero {
					margin-top: 0;
					box-sizing: border-box;
				}
			}
		}
	}

	#messia_modal_warning {
		max-height: calc(100vh - 140px) !important; // stylelint-disable-line declaration-no-important
		margin-bottom: -1px;
		display: flex;
		align-items: center;
		text-align: center;
		padding: 1em;
	}

	.schema.popup {
		cursor: pointer;
	}

	.is-elevated {
		box-shadow: rgb(0 0 0 / 20%) 0 1px 3px 0, rgb(0 0 0 / 14%) 0 1px 1px 0, rgb(0 0 0 / 12%) 0 2px 1px -1px;
	}
}
