// General rules
@import "../init";
.#{$m-namespace-admin} {

	@keyframes icon-scale {
		0% {
			opacity: 0;
			transform: scale(0);
		}

		100% {
			opacity: 1;
			transform: none;
		}
	}

	@keyframes spinner-grow {
		0% {
			transform: scale(0);
		}

		50% {
			opacity: 1;
		}
	}

	@media screen and (min-width: 720px) { // Grid
		.media-frame-content {
			.icons-collection {
				.icons-grid {
					.icons-container {
						grid-template-columns: repeat(auto-fill, 112px);
						justify-content: space-between;
					}
				}
			}
		}
	}

	@media screen and (max-width: 720px) {
		.media-frame-content {
			.icons-collection {
				.icons-grid {
					.icons-container {
						grid-template-columns: 1fr 1fr 1fr 1fr;

						.icon-placeholder {
							max-width: 110px;
							width: 100%;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		.media-frame-content {
			.icons-collection {
				.icons-grid {
					.icons-container {
						grid-template-columns: 1fr 1fr 1fr;
					}
				}
			}
		}
	}

	.media-frame-content {
		.icons-collection-wrapper { // Content
			user-select: none;
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.icons-collection {
			display: flex;
			flex-direction: column;
			padding: 10px 20px;
			user-select: none;
			height: 100%;

			>* {
				margin-bottom: 20px;
			}

			.iconset-tabs { // Tabs
				display: flex;
				border-bottom: 1px solid #dcdcde;
			}

			.iconset-tabs.hidden {
				display: none;
			}

			.icons-variants { // Variants
				display: flex;
				flex-wrap: wrap;
			}

			.variant {
				white-space: nowrap;
				margin-right: .5em;
				margin-bottom: .5em;
				position: relative;
			}

			.variant.loading {
				opacity: .6;

				&:before {
					display: inline-block;
					width: 1.5em;
					height: 1.5em;
					vertical-align: text-bottom;
					background-color: #fff;
					border-radius: 50%;
					opacity: 0;
					animation: spinner-grow .75s linear infinite;
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -.75em;
				}
			}

			.icons-grid {
				.icons-container {
					align-content: start;
					display: grid;
					column-gap: 16px;
					grid-template-columns: repeat(auto-fill, 110px);
					justify-content: space-around;
					row-gap: 24px;

					.icon-placeholder {
						appearance: none;
						border: 0;
						border-radius: 8px;
						box-sizing: border-box;
						cursor: pointer;
						height: 128px;
						width: 110px;
						background: #f6f6f6;
						outline: none;
						position: relative;

						.icon-asset {
							font-size: 40px;
							left: 50%;
							position: absolute;
							top: 40px;
							transform: translate(-50%, -50%);
							max-width: 88px;
							overflow: hidden;

							&:not(.material-icons-two-tone) {
								color: #5f6368;
							}
						}

						.icon-name {
							bottom: 32px;
							box-sizing: border-box;
							left: 50%;
							padding: 0 8px;
							position: absolute;
							transform: translate(-50%, 50%);
							width: 100%;
							color: #5f6368;
						}

						&:hover {
							background-color: #48484817;
						}
					}

					.icon-placeholder.selected {
						box-shadow: inset 0 0 0 1px #1a73e8;
						outline: none;

						&:hover {
							background-color: rgb(26 115 232 / 4%);
						}

						&:focus {
							background-color: rgb(26 115 232 / 12%);
							box-shadow: inset 0 0 0 1px #174ea6;
						}

						&:active {
							background-color: rgb(26 115 232 / 10%);
						}
					}
				}

				icons-group {
					&:not(:first-child) {
						margin-top: 70px;
						display: block;
					}

					h2 {
						text-transform: capitalize;
					}
				}
			}

			#icon-set {
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			#icon-set-items {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-grow: 1;

				.icons-grid {
					width: 100%;

					.icon-loader {
						display: flex;
						justify-content: center;
					}

					.icon-message {
						display: flex;
						justify-content: center;
					}
				}

				.icons-grid.applying-fonts {
					pointer-events: none;
				}
			}

			.icons-grid.applying-fonts {
				.icons-container {
					.icon-placeholder {
						background: rgb(0 0 0 / 4%);

						>* {
							font-size: 0;
							opacity: 0;
						}
					}
				}
			}
		}
	}

	.iconset-tabs {
		>label {
			position: relative;
			display: inline-block;
			padding: 8px 10px 9px;
			border: 1px solid transparent;
			border-bottom: 0;
			cursor: pointer;
			font-weight: 600;

			&:hover {
				color: #5390c1;

				&:after {
					background: #06c;
				}
			}
		}

		>.toggle-iconset {
			&:focus {
				+ {
					label {
						color: #5390c1;

						&:after {
							background: #06c;
						}
					}
				}
			}
		}

		>.toggle-iconset.active {
			border-color: #dcdcde;
			border-bottom: 1px solid #fff;
			margin-bottom: -1px;

			+ {
				label {
					&:after {
						background: #06c;
					}
				}
			}
		}
	}

	.icon-placeholder.wow { // Animation
		visibility: hidden;
	}

	.icon-placeholder.wow.animate {
		visibility: visible;
		animation-duration: .2s;
		animation-timing-function: cubic-bezier(.25, .46, .45, .94);
	}

	.icon-placeholder.wow.scale {
		animation-name: icon-scale;
	}
}
