// General rules
@import "../init";
.#{$m-namespace-admin} {
	/* Column */
	.form-field.messia.filter_type {
		label {
			margin-right: 15px;
		}
	}

	table.form-table {
		.field-title {
			.remove {
				&:after {
					content: "\f158";
					font-family: dashicons;
					width: 100%;
					margin-left: 5px;
					color: #686868;
					cursor: pointer;
					flex-direction: row;
					margin: auto 5px;
				}
			}

			.move {
				&:after {
					content: "\f545";
					font-family: dashicons;
					font-size: 1.1em;
					text-align: right;
					width: 100%;
					margin-left: 5px;
					color: #6d6d6d;
				}
			}
		}
	}

	#constructor-wrapper {
		display: flex;
		flex-wrap: wrap;
		user-select: none;

		.field-title {
			display: flex;
			justify-content: space-between;

			.heading {
				display: flex;
				line-height: 1.5em;
				flex-grow: 1;
				align-items: center;
			}

			.remove {
				display: flex;
			}
		}

		.constructor-field {
			background: #fff;
			padding: 7px 10px;
			border-radius: 2px;
			border: 1px solid #dedede;
			margin: 2px;
			white-space: nowrap;
			z-index: 1;
			cursor: grab;
		}

		.constructor-field.ui-draggable-dragging {
			cursor: grabbing;
		}

		.sortable-placeholder.ui-draggable-dragging {
			cursor: grabbing;
		}

		.constructor-field.is-elevated {
			box-shadow: 0 2px 3px 0 #dcdcdc;
		}
	}

	#constructed-wrapper {
		background: #fff;
		border: 1px solid #383838;
		user-select: none;
		padding: 0 6px;
		overflow: auto;
		min-height: 100px;
		display: grid;

		.field-title {
			display: flex;
			justify-content: space-between;

			.heading {
				display: flex;
				line-height: 1.5em;
				flex-grow: 1;
				align-items: center;
			}

			.remove {
				display: flex;
			}
		}

		.constructor-field {
			box-sizing: border-box;
			background: #f9f9f9;
			padding: 7px 10px;
			border-radius: 2px;
			border: 1px solid #b5b5b5;
			margin: 6px 0;
			flex-shrink: 0;
			white-space: nowrap;

			.field-title {
				cursor: grab;
			}
		}

		.constructor-field.ui-sortable-helper {
			cursor: grabbing;
		}

		.sortable-placeholder.ui-sortable-helper {
			cursor: grabbing;
		}

		.constructor-field.is-elevated {
			box-shadow: 0 2px 3px 0 #dcdcdc;
		}
	}

	#constructed-wrapper.dragging {
		border: 2px solid black;
		opacity: .6;
	}

	div#constructed-wrapper {
		&:empty {
			&:before {
				content: attr(data-title);
				font-size: 1.5em;
				text-align: center;
				color: #d0d0d0;
				display: inline-flex;
				margin: auto;
			}
		}
	}

	.sortable-placeholder {
		padding: 5px;
		border-radius: 2px;
		margin: 6px 0;
		flex-shrink: 0;
		white-space: nowrap;
	}

	.form-field {
		.settings.saved {
			input[type="text"][m-name="slug"].locked {
				color: #8e8e8e;
			}
		}

		.settings {
			border-top: 1px solid #c4c4c4;
			margin: 5px 0 0;

			&:not(.saved) {
				display: none;
			}

			.titles-wrapper {
				display: flex;
			}

			.titles {
				display: flex;
				flex-direction: column;
				flex-grow: 1;

				input {
					width: 100%;
					margin: 5px 0 0;
				}

				input.required {
					border: 1px solid red;

					&:focus {
						box-shadow: 0 0 1px 1px #ff000040;
					}
				}
			}

			.atts {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 1em;
				padding: 5px 0;

				label {
					vertical-align: baseline;
					display: inline-block;
					min-width: 2em;
				}

				>div {
					display: flex;
					align-items: center;
				}

				input {
					margin: 0 0 0 5px;

					&[type="number"] {
						width: 6em;
						line-height: 1.3;
						min-height: 28px;
						flex-grow: 1;
					}

					&[type="text"] {
						width: auto;
						line-height: 1.3;
						min-height: 28px;
						flex-grow: 1;
					}

					&[type="radio"] {
						margin-right: .25rem;
						line-height: 1.3;
						flex-grow: 1;
					}

					&[m-name="decimal_separatop"],
					&[m-name="thousand_separatop"] {
						width: 2em;
					}
				}

				.filtering input + label {
					color: #9e9e9e;
					font-size: .9em;
				}

				select {
					margin: 0 0 0 5px;
					color: #a8a8a8;
					flex-grow: 1;
				}
			}

			.caps {
				display: flex;
				flex-wrap: wrap;

				fieldset {
					border: 1px solid #cfcfcf;
					border-radius: 2px;
					max-width: 100%;
					padding: 0 0 3px;
					flex-grow: 1;
					box-shadow: inset 0 1px white, 1px 0 white, 0 1px white, inset 1px 0 white;

					&:not(:last-of-type) {
						margin-right: 10px;
					}

					legend {
						margin-left: 5px;
						font-weight: 400;
						color: #12607f;
						font-size: 12px;
					}

					.areas {
						flex-wrap: wrap;
						display: flex;
					}
				}

				.areas {
					>div {
						margin: 0 10px 5px 7px;

						label {
							margin: 0 0 0 5px !important; // stylelint-disable-line declaration-no-important
							min-width: 1em;
						}

						input {
							margin: 0;
						}
					}
				}
			}

			.icon {
				border-radius: 2px;
				padding: 10px;
				margin: 5px 0 0 6px;
				border-style: solid;
				border-color: #c3c3c3;
				background: #fff;
				position: relative;
				display: flex;
				align-items: center;
				flex-direction: row;

				.image {
					box-sizing: content-box;
					display: flex;
					max-width: 100%;
					height: 100%;
					margin: auto;
					align-items: center;
				}

				.edit-image {
					left: -5px;
					top: -5px;
					position: absolute;
					user-select: none;
					line-height: 1;
					font-family: dashicons;
					border-radius: 2px;
					background: #353535;
					color: #fff;
					cursor: pointer;
					border: 2px solid white;

					&:before {
						content: "\f464";
					}
				}

				.remove-image {
					left: 11px;
					top: -5px;
					position: absolute;
					user-select: none;
					line-height: 1;
					font-family: dashicons;
					border-radius: 2px;
					background: #353535;
					color: #fff;
					cursor: pointer;
					border: 2px solid white;

					&:before {
						content: "\f158";
					}
				}

				.placeholder-image {
					user-select: none;
					content: "\f128";
					line-height: 1;
					font-family: dashicons;
					color: #0085ba;
					display: block;
					margin: auto;

					&:before {
						content: "\f128";
						font-family: dashicons;
					}
				}
			}

			input {
				&::placeholder {
					color: #c1c1c1;
				}
			}
		}
	}

	.shortcode-warning {
		border-bottom: 1px solid #dadada;
		margin-bottom: 20px;
		padding-bottom: 5px;

		.wparam {
			padding: 0 2px;
			line-height: 1.6em;
			border: 1px solid #a2a2a2;
			border-radius: 3px;
			background-color: rgb(var(--sk_foreground_min, 29, 28, 29) .04);
			color: #e01e5a;
		}
	}

	.placeholders-warning {
		border-bottom: 1px solid #dadada;
		margin-bottom: 20px;
		padding-bottom: 5px;

		.wparam {
			padding: 0 2px;
			line-height: 1.6em;
			border: 1px solid #a2a2a2;
			border-radius: 3px;
			background-color: rgb(var(--sk_foreground_min, 29, 28, 29) .04);
			color: #e01e5a;
		}
	}

	.areas-warning {
		border-bottom: 1px solid #dadada;
		margin-bottom: 20px;
		padding-bottom: 5px;

		.schema.popup {
			margin: 0 10px 5px 0;
			display: inline-block;

			&:after {
				content: "\f103";
				font-family: dashicons;
			}
		}

		.wparam {
			padding: 0 2px;
			line-height: 1.6em;
			border: 1px solid #a2a2a2;
			border-radius: 3px;
			background-color: rgb(var(--sk_foreground_min, 29, 28, 29) .04);
			color: #e01e5a;
		}
	}

	.form-field.messia.term_icon {
		.icon-wrapper {
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			align-self: self-end;

			.icon {
				width: 60px;
				height: 60px;
				border-width: 1px;
				border-radius: 2px;
				padding: 5px;
				margin: 0 7px 7px 0;
				border-style: solid;
				border-color: #b7b7b7;
				background: #fff;
				display: flex;
				align-items: center;
				flex-direction: row;
				position: relative;

				.image {
					box-sizing: content-box;
					display: block;
					margin: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}

			span.edit-image {
				left: -5px;
				top: -5px;
				position: absolute;
				user-select: none;
				line-height: 1;
				font-family: dashicons;
				border-radius: 2px;
				background: #353535;
				color: #fff;
				cursor: pointer;
				border: 2px solid white;

				&:before {
					content: "\f464";
				}
			}

			span.remove-image {
				left: 11px;
				top: -5px;
				position: absolute;
				user-select: none;
				line-height: 1;
				font-family: dashicons;
				border-radius: 2px;
				background: #353535;
				color: #fff;
				cursor: pointer;
				border: 2px solid white;

				&:before {
					content: "\f158";
				}
			}

			span.placeholder-image {
				user-select: none;
				content: "\f128";
				line-height: 1;
				font-family: dashicons;
				color: #0085ba;
				display: block;
				margin: auto;

				&:before {
					content: "\f128";
					font-family: dashicons;
				}
			}
		}
	}

	.form-field.messia.term_thumbnail {
		.icon-wrapper {
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			align-self: self-end;

			.icon {
				width: 60px;
				height: 60px;
				border-width: 1px;
				border-radius: 2px;
				padding: 5px;
				margin: 0 7px 7px 0;
				border-style: solid;
				border-color: #b7b7b7;
				background: #fff;
				display: flex;
				align-items: center;
				flex-direction: row;
				position: relative;

				.image {
					box-sizing: content-box;
					display: block;
					margin: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}

			span.edit-image {
				left: -5px;
				top: -5px;
				position: absolute;
				user-select: none;
				line-height: 1;
				font-family: dashicons;
				border-radius: 2px;
				background: #353535;
				color: #fff;
				cursor: pointer;
				border: 2px solid white;

				&:before {
					content: "\f464";
				}
			}

			span.remove-image {
				left: 11px;
				top: -5px;
				position: absolute;
				user-select: none;
				line-height: 1;
				font-family: dashicons;
				border-radius: 2px;
				background: #353535;
				color: #fff;
				cursor: pointer;
				border: 2px solid white;

				&:before {
					content: "\f158";
				}
			}

			span.placeholder-image {
				user-select: none;
				content: "\f128";
				line-height: 1;
				font-family: dashicons;
				color: #0085ba;
				display: block;
				margin: auto;

				&:before {
					content: "\f128";
					font-family: dashicons;
				}
			}
		}
	}

	.wp-list-table {
		.column-icon {
			width: 40px;

			.icon {
				width: 30px;
				height: 30px;
				border-width: 1px;
				border-radius: 2px;
				padding: 5px;
				margin: 0 7px 7px 0;
				border-style: solid;
				border-color: #b7b7b7;
				background: #fff;
				display: flex;
				align-items: center;
				flex-direction: row;
				cursor: pointer;
				position: relative;

				.image {
					box-sizing: content-box;
					display: block;
					margin: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}

			span.edit-image {
				left: -5px;
				top: -5px;

				&:before {
					content: "\f464";
				}
			}

			span.remove-image {
				left: 11px;
				top: -5px;

				&:before {
					content: "\f158";
				}
			}

			span.placeholder-image {
				user-select: none;
				content: "\f128";
				line-height: 1;
				font-family: dashicons;
				color: #0085ba;
				display: block;
				margin: auto;

				&:before {
					content: "\f128";
					font-family: dashicons;
				}
			}
		}

		.column-thumbnail {
			width: 40px;

			.icon {
				width: 30px;
				height: 30px;
				border-width: 1px;
				border-radius: 2px;
				padding: 5px;
				margin: 0 7px 7px 0;
				border-style: solid;
				border-color: #b7b7b7;
				background: #fff;
				display: flex;
				align-items: center;
				flex-direction: row;
				cursor: pointer;
				position: relative;

				.image {
					box-sizing: content-box;
					display: block;
					margin: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}

			span.edit-image {
				left: -5px;
				top: -5px;

				&:before {
					content: "\f464";
				}
			}

			span.remove-image {
				left: 11px;
				top: -5px;

				&:before {
					content: "\f158";
				}
			}

			span.placeholder-image {
				user-select: none;
				content: "\f128";
				line-height: 1;
				font-family: dashicons;
				color: #0085ba;
				display: block;
				margin: auto;

				&:before {
					content: "\f128";
					font-family: dashicons;
				}
			}
		}

		.column-term_on_card,
		.column-term_as_filter {
			width: 65px;

			svg.messia-icon {
				width: 1em;
				height: 1em;
				vertical-align: middle;
			}
		}

		.column-term_order {
			width: 65px;

			.value {
				&.ordered sup {
					position: absolute;
					width: 6px;
					height: 6px;
					display: inline-block;
					border-radius: 50%;
					margin: 0 3px;
				}
			}

			svg.messia-icon {
				width: 1em;
				height: 1em;
				vertical-align: middle;
			}
		}

		.level-0 .column-term_order .value.ordered sup {
			background: #c70000;
		}

		.level-1 .column-term_order .value.ordered sup {
			background: #c78500;
		}

		.level-2 .column-term_order .value.ordered sup {
			background: #7dbb00;
		}

		.level-3 .column-term_order .value.ordered sup {
			background: #00b199;
		}

		.level-4 .column-term_order .value.ordered sup {
			background: #00bdbd;
		}

		.level-5 .column-term_order .value.ordered sup {
			background: #0021c9;
		}

		.level-6 .column-term_order .value.ordered sup {
			background: #b700c7;
		}

		.level-7 .column-term_order .value.ordered sup {
			background: #888;
		}
	}

	tbody#the-list {
		.messia-help-tip {
			&:before {
				font-family: Dashicons;
				font-weight: 400;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				text-indent: 0;
				content: "\f223";
				cursor: help;
				font-variant: normal;
				color: #565a5c;
				margin: 0 0 0 8px;
			}
		}
	}
}
