.#{$m-namespace-front} {
	.content-map {
		position: relative;
		margin-bottom: 30px;

		.spinner {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 5;
		}

		#objects-map {
			min-height: 70vh;
			width: 100%;
			border-radius: $m-border-radius;

			&:after {
				content: "";
				position: absolute;
				background: #00000087;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				opacity: 0;
				z-index: -1;
			}
		}

		.spinner ~ #objects-map {
			&:after {
				opacity: 1;
				z-index: 2;
			}
		}
	}
}
