*.log

/node_modules
/vendor

/includes/assets/css/_custom_blog_id_*.css
/includes/assets/css/_custom_blog_id_*.min.css

# Compiled
/includes/assets/css
/includes/assets/js
/includes/assets/audio
/includes/assets/images

# Demo
/.staff
/data/templates/*.zip

# Merged styles and scripts
/includes/assets/css/__m*M.css
/includes/assets/js/__m*M.js=
phpDocumentor.phar
webpack-local.json
