.#{$m-namespace-front} {
	.sidebar {
		&.sidebar-object.position-sticky {
			top: 32px;
		}

		.gallery .thumb-container a img {
			width: 40px;
			height: 40px;
		}

		.gallery .full-container {
			width: calc(100% - 45px);
		}

		.messia-widget-custom-fields .custom_type-container.gallery {
			margin-right: 0;
		}

		.messia-widget-custom-fields {
			.custom_type-container {
				&.input_number {
					flex-wrap: nowrap;
				}

				&.select_post_multi {
					a {
						display: block;
						margin-bottom: .5rem;
					}
				}
			}
		}

		.gallery .thumb-container {
			max-width: 40px;
		}

		.widget .widget-content:not(:empty) {
			border: 1px solid $m-controls_initial_border_color;
			background: $white;
			border-radius: $m-border-radius;
			padding: 1rem;
			margin-bottom: 2rem;

			.filter-group-heading {
				color: $m-controls_initial_border_color;
				text-transform: revert;
			}

			.widget-title,
			.custom-field-title {
				margin-left: -$m-sidebar-padding;
				transform: translateX(-1px);
				padding-left: calc(#{$m-sidebar-padding} - 4px);
				border-left-style: solid;
				border-left-width: 4px;
				display: flex;
				margin-bottom: 1.1rem;

				.messia-icon {
					flex-shrink: 0;
				}
			}
		}

		.filter-heading .title,
		.property-group-heading .title,
		.widget-title {
			border-color: $m-controls_color_initial;
		}
	}
}
