.#{$m-namespace-front} {
	.list-container {
		.item-card {
			width: 100%;

			.tags {
				padding-left: 1rem;
			}

			.object-card {
				display: flex;
				position: relative;
				padding-left: 33%;
			}

			.card-content,
			.card-footer {
				padding-left: 1rem;
			}

			.card-img-top {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 33%;
				max-width: 310px;

				img {
					height: 100%;
					object-fit: cover;
					padding: .2rem;
					border-radius: $m-border-radius;
				}
			}
		}
	}
}