.#{$m-namespace-front} {
	.gallery {
		.custom-field-title {
			width: 100%;
		}

		.custom-field-value {
			display: flex;
			flex-grow: 1;
			flex-wrap: wrap;
		}

		.full-container {
			width: calc(100% - 89px);
			margin-right: 5px;

			.gallery-item {
				width: 100%;
				height: auto;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.thumb-container {
			max-width: 84px;
			width: 100%;
			display: flex;
			flex-direction: column;

			&.thumb-container-full {
				justify-content: space-between;
			}

			.gallery-item {
				display: none;

				&.visible {
					display: block;
					position: relative;

					.count-hide {
						position: absolute;
						top: 5px;
						bottom: 0;
						right: 0;
						left: 0;
						background: rgb(0 0 0 / 50%);
						display: flex;
						align-items: center;
						justify-content: center;
						color: #fff;
					}

					&:last-of-type {

					}
				}
			}
		}

		.gallery-item {
			padding-top: 5px;

			a {
				display: flex;

				img {
					width: 84px;
					height: 84px;
					object-fit: cover;
					display: block;
				}
			}
		}
	}
}
