<h1 class="phpdocumentor-title">
	<a href="{{ path('/') }}" class="phpdocumentor-title__link" style="display: flex; gap: 0.5em; align-items: center;">
		<svg width="35" height="35" viewbox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
			<g class="layer">
				<ellipse cx="35" cy="35" fill="#e18700" id="svg_8" rx="33.87833" ry="33.87833" stroke="rgb(0, 0, 0)" stroke-width="0px"/>
				<path d="m50.39939,19.16886l-4.48733,32.79519" fill="rgb(216, 216, 216)" id="svg_11" stroke="rgb(255, 255, 255)" stroke-linecap="round" stroke-width="6"/>
				<path d="m36.38437,23.97656l-2.2821,16.65931" fill="rgb(216, 216, 216)" id="svg_12" stroke="rgb(255, 255, 255)" stroke-linecap="round" stroke-width="6"/>
				<path d="m23.37519,19.10804l-4.48733,32.79519" fill="rgb(216, 216, 216)" id="svg_10" stroke="rgb(255, 255, 255)" stroke-linecap="round" stroke-width="6"/>
			</g>
		</svg>
		<div style="text-transform: uppercase;">{{ project.name }}</div>
	</a>
</h1>