<h1 class="phpdocumentor-title">
	<a href="{{ path('/') }}" class="phpdocumentor-title__link" style="display: flex; gap: 0.5em; align-items: center;">
		<svg width="35" height="35" viewbox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
			<g class="layer">
				<circle cx="9.49405" cy="9.49405" fill="black" id="svg_8" r="9.49405" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null"/>
				<circle cx="35" cy="9.49405" fill="black" id="svg_10" r="9.49405" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null"/>
				<circle cx="60.50595" cy="9.49405" fill="black" id="svg_11" r="9.49405" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null"/>
				<circle cx="9.49405" cy="60.50595" fill="black" id="svg_17" r="9.49405" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null"/>
				<circle cx="9.49405" cy="35" fill="black" id="svg_18" r="9.49405" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null"/>
				<circle cx="35" cy="35" fill="black" id="svg_19" r="9.49405" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null"/>
			</g>
		</svg>
		<div style="text-transform: uppercase;">{{ project.name }}</div>
	</a>
</h1>