@import "../init";
.#{$m-namespace-front} {
	// Styles in WP Block AND not Slider
	.comment-items {
		&:not(.slider-items) {
			display: grid;
			grid-gap: 1rem;
		}

		.comment-inner {
			height: 100%;
		}

		.name {
			width: 100%;
		}

		.sub-name {
			display: flex;

			span {
				margin-right: .4rem;
			}

			a {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
				display: block;
			}
		}

		.avatar {
			border-radius: 50%;

			img {
				object-fit: cover;
			}
		}
	}

	// Regular style - comments paginated list.
	.comments-wrapper {
		.comment-items {
			display: revert;

			.comment {
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				margin-bottom: 30px;
				border-bottom: 1px solid rgb(0 0 0 / 12.5%);
				padding-bottom: 30px;

				.comment-respond {
					flex-grow: 1;
				}
			}

			.comment .comment {
				width: 100%;
				padding-left: 50px;
				margin-top: 10px;
				border: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}
}
