.#{$m-namespace-front} {

	@keyframes circle {
		0% {
			transform: scale(.2);
			opacity: 0;
		}

		30% {
			opacity: .1;
		}

		60% {
			opacity: .2;
		}

		80% {
			opacity: .1;
		}

		100% {
			transform: scale(1);
			opacity: .1;
		}
	}

	.messia-radio {
		user-select: none;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		margin-bottom: 0;

		[disabled] + .messia-radio-label-container {
			opacity: .5;

			&:after,
			&:before {
				content: none;
			}

			.messia-radio-icon {
				border-color: $m-control-border-color;
			}
		}

		input:checked + .messia-radio-label-container {
			.messia-radio-icon {
				border-color: $m-controls_color_initial;

				.messia-radio-icon-checked {
					transform: scale(1);
				}

				&:hover {
					&:after {
						transform: scale(1);
					}
				}

				&:after {
					animation: circle ease-in-out .4s;
				}
			}
		}

		&:hover {
			.messia-radio-icon {
				.hover {
					&:after {
						opacity: .07;
					}
				}
			}
		}

		&.is-clicked {
			.hover {
				&:before {
					transform: scale(1) translateY(-50%);
				}
			}
		}

		.messia-checkbox-label {
			padding-top: 1px;
		}

		.messia-radio-label-container {
			display: flex;
			width: 100%;
			position: relative;
			padding-top: 4px;
			padding-bottom: 4px;
			align-items: flex-start;
		}

		.messia-radio-label {
			margin-top: 1px;
			display: flex;
			align-items: flex-start;
		}

		.messia-radio-icon {
			width: 20px;
			height: 20px;
			border: 2px solid;
			border-radius: 50%;
			margin-top: 2px;
			margin-right: 10px;
			position: relative;
			flex-shrink: 0;

			span.hover {
				&:after,
				&:before {
					content: "";
					position: absolute;
					width: 38px;
					height: 38px;
					border-radius: 50%;
					transform: translateY(-50%);
					left: calc(50% - 19px);
					top: 50%;
					background: $m-controls_color_initial;
				}

				&:after {
					opacity: 0;
				}

				&:before {
					opacity: .07;
					transform: scale(0);
				}
			}

			.messia-radio-icon-checked {
				position: absolute;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				background: $m-controls_color_initial;
				transform: scale(0);
				top: 50%;
				left: 50%;
				margin-top: -5px;
				margin-left: -5px;
				transition: $m-transition-transform ease-in-out;
			}

			&:before {
				content: "";
				position: absolute;
				top: -2px;
				bottom: -2px;
				right: -2px;
				left: -2px;
				border-radius: 50%;
				transition: background-color 90ms cubic-bezier(0, 0, .2, .1), opacity 40ms cubic-bezier(0, 0, .2, .1);
			}

			&:after {
				content: "";
				position: absolute;
				width: 38px;
				height: 38px;
				left: calc(50% - 19px);
				top: calc(50% - 19px);
				transform: scale(0);
				z-index: -1;
				border-radius: 50%;
				opacity: 0;
				background: $m-active-color;
			}
		}
	}
}
