// stylelint-disable max-line-length

@mixin unrated {
	background: $m-navigation_initial_color;
	padding: 3px 8px;
	border-radius: $m-border-radius-control / 2;
	display: inline-block;
	color: $m-controls_color_on_interaction_inner;
	font-size: .75rem;
}

@mixin filter-show($speed, $timingName) {
	animation: $speed + ms cubic-bezier(.55, .06, .68, .19) 0ms 1 normal forwards running filter-show;

	@at-root .messia-core-custom-scope .sidebar .messia-widget-listing-filters {
		#{$timingName}: $speed;
	}

	@keyframes filter-show {
		0% {
			max-height: 0;
			opacity: 0;
		}

		70% {
			opacity: 0;
		}

		80% {
			max-height: var(--max-height);
		}

		100% {
			opacity: 1;
			max-height: var(--max-height);
		}
	}
}

@mixin filter-hide($speed, $timingName) {
	animation: $speed + ms cubic-bezier(.55, .06, .68, .19) 0ms 1 normal forwards running filter-hide;

	@at-root .messia-core-custom-scope .sidebar .messia-widget-listing-filters {
		#{$timingName}: $speed;
	}

	@keyframes filter-hide {
		0% {
			opacity: 1;
			max-height: var(--max-height);
		}

		60% {
			opacity: 0;
		}

		100% {
			max-height: 0;
			opacity: 0;
			padding: 0;
			margin: 0;
		}
	}
}

@mixin group-show($speed, $timingName) {
	animation: $speed + ms cubic-bezier(.55, .06, .68, .19) 0ms 1 normal forwards running group-show;

	@at-root .messia-core-custom-scope .sidebar .messia-widget-listing-filters {
		#{$timingName}: $speed;
	}

	@keyframes group-show {
		0% {
			max-height: 0;
			opacity: 0;
			padding: 0;
			margin: 0;
			margin-left: -21px;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
			max-height: var(--max-height);
		}
	}
}

@mixin group-hide($speed, $timingName) {
	animation: $speed + ms cubic-bezier(.55, .06, .68, .19) 0ms 1 normal forwards running group-hide;

	@at-root .messia-core-custom-scope .sidebar .messia-widget-listing-filters {
		#{$timingName}: $speed;
	}

	@keyframes group-hide {
		0% {
			opacity: 1;
			max-height: var(--max-height);
		}

		50% {
			opacity: 0;
		}

		100% {
			max-height: 0;
			opacity: 0;
			padding: 0;
			margin: 0;
			margin-left: -21px;
		}
	}
}

// New mixins

@mixin mask-background(
	$background-color: $m-mask-background-color, // Background color
	$background-opacity: $m-mask-background-opacity) { // Opacity background
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $background-color;
		opacity: $background-opacity;
		z-index: 10;
	}
}

@mixin input-text(
	$border-radius: $m-border-radius-control, // Border Radius
	$border-color: $m-controls_initial_border_color, // Border Color
	$padding: $m-padding-input, // Padding input and textarea
	$font-size: $m-font-size-control, // Font Size label
	$control-color: $m-controls_color_initial_inner, // Color label
	$focus-color: $m-active-color, // Focus color label
	$white: $m-white, // white color
	$hover-color: $m-controls_on_interaction_border_color) { // Border color hover
	position: relative;
	display: inline-block;
	min-height: $m-min-height-control;
	box-shadow: $m-controls_initial_box_shadow;

	textarea {
		padding: .7rem 1rem;

		+ .messia-label-container {
			label {
				transform: none;
				top: .6rem;
				z-index: 6;
			}

			&:after {
				content: "";
				position: absolute;
				top: 1px;
				bottom: 1px;
				left: 1px;
				right: 1px;
				background: #fff;
				z-index: 5;
				border-radius: $m-border-radius;
				transition: all .1s;
			}
		}
	}

	input,
	textarea {
		border: 1px solid $border-color;
		padding: $padding;
		border-radius: $m-border-radius;
		position: relative;
		background: $m-white;
		width: 100%;
		height: auto;
		outline: none;
		display: block;
		resize: none;
		min-height: $m-min-height-control;

		&:focus {
			border-color: $m-controls_on_interaction_border_color;
			box-shadow: $m-controls_on_interaction_box_shadow;

			+ .messia-label-container {
				label {
					color: $focus-color;
				}
			}
		}
	}

	&:hover {
		input,
		textarea {
			border-color: $hover-color;
		}
	}

	.messia-label-container label {
		transition: transform 150ms cubic-bezier(.4, 0, .2, 1), color 150ms cubic-bezier(.4, 0, .2, 1), top 150ms cubic-bezier(.4, 0, .2, 1);
		transform-origin: left top;
		position: absolute;
		width: 100%;
		font-size: $font-size;
		cursor: text;
		color: $control-color;
		top: 50%;
		transform: translateY(-50%);
		padding: $padding;
		display: flex;

		span {
			background: #fff;
			padding-left: 4px;
			padding-right: 4px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline-block;
			font-weight: 400;
			width: inherit;
		}
	}

	&.is-focused {
		input,
		textarea {
			z-index: 1;
		}

		.messia-label-container label {
			top: 0;
			z-index: 5;
			transform: scale(.82) translateY(-50%);

			span {
				border: 1px solid $border-color;
				border-radius: $m-border-radius / 2;
				background: #fafafa;
				width: initial;
			}
		}

		textarea + .messia-label-container {
			&:after {
				opacity: 0;
				z-index: -1;
			}

			label {
				top: 0;
				transform: scale(.82) translateY(-50%);
			}
		}
	}
}

@mixin button(
	$background: $m-controls_color_initial, // Font Size Button
	$background-hover: $m-controls_color_on_interaction, // Font Size Button hover
	$font-size: $m-font-size-control, // Font Size Button
	$border-radius: $m-border-radius-control, // Border radius Button
	$min-height: $m-min-height-control) { // Min Height Control По умолчанию установлена переменная минимальной высоты для всех контролов
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: .5rem 1.2rem;
	border-radius: $m-border-radius;
	font-size: $font-size;
	transition: $m-transition-background;
	min-height: $min-height;
	background: $background;
	color: $m-white;
	border: none;

	&:hover {
		text-decoration: none;
		background: $background-hover;
		color: $m-controls_color_on_interaction_inner;
	}
}

// Featured
$m-featured-font-size: .8rem;
$m-featured-padding: .8rem;
$m-featured-top: .9rem;
$m-featured-left: .9rem;

@mixin featured(
	$background: $m-controls_color_initial, // Background color
	$font-size: $m-featured-font-size,  // Font size
	$color: $m-white, // Color
	$top: $m-featured-top,  // Position top
	$left: $m-featured-left, // Position left
	$border-radius: $m-border-radius, // Border radius
	$padding: $m-featured-padding) { // Padding
	.item-featured {
		position: absolute;
		padding: $padding;
		z-index: 9;
		background-color: $background;
		font-size: $font-size;
		color: $color;
		top: $top;
		left: $left;
		border-radius: $m-border-radius;
	}
}

@mixin card(
	$boxshadow:              $m-boxshadow,       // BoxShadow
	$card-border-footer:     $m-border,          // Border footer card
	$card-font-size-default: .8rem,              // Font size by default if not setted in options
	$card-radius:            $m-border-radius) {
	.listing-col-4 {
		.item-card {
			width: 25%;

			@include media-breakpoint-down(xl) {
				width: 50%;
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
	}

	.listing-col-3 {
		.item-card {
			width: 33.33%;

			@include media-breakpoint-down(xl) {
				width: 50%;
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
	}

	.listing-col-2 {
		.item-card {
			width: 50%;

			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
	}

	.item-card {
		font-size: $card-font-size-default;
		@include featured;

		@keyframes card-fade-in-up {
			0% {
				opacity: 0;
				transform: translate3d(0, -30%, 0);
			}

			100% {
				opacity: 1;
				transform: none;
			}
		}

		@keyframes card-fade-in-down {
			0% {
				opacity: 0;
				transform: translate3d(0, 30%, 0);
			}

			100% {
				opacity: 1;
				transform: none;
			}
		}

		.object-card {
			box-shadow: $boxshadow;
			border-radius: $card-radius;
		}

		img {
			width: 100%;

			&.icon {
				filter: invert(.4);
			}
		}

		.card-title {
			a {
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 100%;
				display: inline-block;
			}
		}

		.item-features-inline {
			display: inline-flex;
			flex-wrap: wrap;

			> * {
				margin-right: .7rem;
				margin-bottom: .7rem;
				display: inline-flex;
				align-items: center;
			}
		}

		.item-features-block {
			> * {
				display: flex;
				width: 100%;
				align-items: center;
			}

			> *:not(:first-child) {
				margin-top: .5rem;
			}
		}

		.item-properties {
			.item-properties__lists {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				padding: 0;
			}

			.term-thumb {
				margin-right: .7rem;
				margin-bottom: .5rem;
				display: flex;
				align-items: center;

				> * + * {
					margin-left: .4rem;
				}

				.messia-icon {
					flex-shrink: 0;
				}
			}
		}

		.item-description {
			margin-bottom: 3rem;
		}

		.card-footer {
			border-top: $card-border-footer;

			+ div {
				border-top: $card-border-footer;
			}
		}

		&.wow {
			visibility: hidden;
		}

		&.animate {
			visibility: visible;
			animation-duration: .4s;
			animation-timing-function: cubic-bezier(.25, .46, .45, .94);
		}

		&.fade-in-up {
			animation-name: card-fade-in-up;
		}

		&.fade-in-down {
			animation-name: card-fade-in-down;
		}
	}
}

@mixin comment-items(
	$m-cols: 3,
	$m-size-avatar: $m-size-avatar,
	$boxshadow: $m-boxshadow,
	$background: $m-white,
	$border-radius: $m-border-radius) {
	grid-template-columns: repeat($m-cols, minmax(100px, 1fr));

	.avatar {
		width: $m-size-avatar;
		height: $m-size-avatar;
		margin-right: $m-me-avatar;
	}

	.name-right {
		width: calc(100% - #{$m-size-avatar} - #{$m-me-avatar});
	}

	.comment {
		.comment-inner {
			background: $background;
			box-shadow: $boxshadow;
			border-radius: $m-border-radius;
			font-size: .9rem;
		}
	}
}

@mixin frontend-scrollbar() {
	&::-webkit-scrollbar {
		/* 1 - скроллбар */
		width: $m-scroll-width;
		height: $m-scroll-height;
		background-color: $m-scroll-background-color;
		border-radius: 0;
	}

	&::-webkit-scrollbar-button {
		/* 2 - кнопка */
		display: none;
	}

	&::-webkit-scrollbar-track {
		/* 3 - трек */
	}

	&::-webkit-scrollbar-track-piece {
		/* 4 - видимая часть трека */
		background-color: $m-scroll-background-color;
	}

	&::-webkit-scrollbar-thumb {
		/* 5 - ползунок */
		background: $m-navigation_initial_color;
		border-radius: 2px;

		/* border: 1px solid #eaeaea; */
	}

	&::-webkit-scrollbar-corner {
		/* 6 - уголок */
	}

	&::-webkit-resizer {
		/* 7 - изменение размеров */
	}
}

@mixin invisible-filter() {
	position: absolute;
	visibility: hidden;
	width: 0;
	height: 0;
	z-index: -1;
}
