/**
 * BOOTSTRAP
 */
// stylelint-disable max-line-length

$container-max-widths: (
	xxl: 1357px
);

// Defaults
$border-radius: 8px;
$m-transition: all .2s;
$m-transition-color: color .2s;
$m-transition-background: background .2s;
$m-transition-fill: fill .2s;
$m-transition-transform: transform .2s;
$m-transition-top: top .2s;

// Navs & Tabs
$nav-tabs-border-width: 3px;

/**
 * MESSIA
 */
$m-namespace-front: "mccs"; // this value hardcoded in next cases: src/scss/_frontend/_select2.scss, src/less/_components/_range.less.
$m-namespace-admin: "macs";

// Base
$m-font-size-base: 16px;
$m-font-size-widget-title: 1.1rem;
$m-border-radius: $border-radius;
$m-border: 1px solid #e5e5e5;
$m-boxshadow: 0 2px 4px rgb(0 0 0 / 25%); // hardcoded in src/less/_components/_range.less

// Scroll
$m-scroll-width: 5px;
$m-scroll-height: 5px;

// Mask
$m-mask-background-color: #000;
$m-mask-background-opacity: .5;

// Select
$m-padding-select-sort: .7rem;
$m-padding-select-drop: .4rem;
$m-select2-option-hover-color: #eceff3; // Hover color of select dropdown option

// Controls sizes
$m-font-size-control: .8rem;
$m-padding-input: .2rem 1rem;
$m-min-height-control: 2.6rem;

// Header Size
$m-font-size-h1: 30px; // Size H1
$m-font-size-h2: 24px; // Size H2
$m-font-size-h3: 19px; // Size H3
$m-font-size-h4: 15px; // Size H4
$m-font-size-h5: 14px; // Size H5
$m-font-size-h6: 13px; // Size H6
$m-font-size-p: 16px; // Size Paragraph
$m-font-size-blockquote: 21px; // Size Blockquote

// Sidebar
$m-sidebar-padding: 1rem;

// Comments
$m-size-avatar: 4rem;
$m-me-avatar: 1rem;

// Colors
$m-hover-opacity: .87;
$m-active-color: #77adfa; // hardcoded in src/less/_components/_range.less
$m-control-border-color: rgb(0 0 0 / 38%);
$m-category-terms-title-color: #fff;
$m-category-terms-mask-color: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 50%) 100%);
$m-scroll-background-color: #d1d1d1;
$m-white: #fff;
$m-black: #000;
$m-grey: #ccc;

// Blocks
$m-block-filter-drag-background: #f4f4f4;

// Font Navigation
$m-font_for_main_menu_color: #333;
$m-navigation_initial_color: $m-active-color;
$m-navigation_interaction_color: #333;

// Control
$m-controls_initial_box_shadow: none;                                    // - тень контролов до взаимодействия (задать none)
$m-controls_initial_border_color: #dbdee3;                             // - цвет бордера контролов до взаимодействия
$m-controls_on_interaction_border_color: #c1c0c0;                      // - цвет бордера контролов во время взаимодействия
$m-controls_on_interaction_box_shadow: $m-boxshadow;                     // - цвет тени контролов во время взаимодействия (задать как сейчас у select)
$m-controls_color_initial: $m-active-color;                              // - цвет контролов до взаимодействия
$m-controls_color_on_interaction: rgba(119, 173, 250, $m-hover-opacity); // - цвет контролов во время взаимодействия
$m-controls_color_initial_inner: $m-black;                               // - цвет внутреннего контента контролов до взаимодействия
$m-controls_color_on_interaction_inner: $m-white;                        // - цвет внутреннего контента контролов во время взаимодействия
$m-border-radius-control: $m-border-radius;
