.#{$m-namespace-front} {
	.nav-links {
		display: flex;
		flex-wrap: wrap;
	
		.page-numbers {
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.1rem;
			text-decoration: none;
			height: 50px;
			font-weight: 700;
			margin-right: 15px;
			margin-bottom: 15px;
			border-radius: 5px;
			min-width: 50px;

			&.current {
				background: $m-navigation_interaction_color;
			}
		}
	
		.prev,
		.next {
			font-size: 1.4rem;
		}
	}
}
	
