@import "../../init";
.#{$m-namespace-front} {
	.map-popup-trigger,
	.input_address .custom-field-title {
		color: #747474;

		.messia-icon {
			margin-right: .6rem;
		}
	}

	.content {
		.custom-field-title {
			margin-bottom: 1rem;
		}
	}

	.main-content .widget-area {
		margin-bottom: 2rem;
	}
}
